<script data-ad-client="ca-pub-2728602086352759" async src="../../../../pagead2.googlesyndication.com/pagead/js/f.txt"></script>
.panel-title  {
    font-size: 16px;
}
.badge {
	display: inline-block;
	padding: 2px 4px;
	font-size: 10.998px;
	font-weight: bold;
	line-height: 14px;
	color: #fff;
	vertical-align: baseline;
	white-space: nowrap;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #09345A;
}
.vert {
  color: #5E9041;
}

.rouge {
  color: #CA112F;
}

.bleu {
  color: #1496CF;
}
.card-title {
  font-size: 1.5rem;
}
