.gjp-game-area {
	display: grid;
	grid-template-columns: 1fr 3fr; /* 25% and 75% */
	gap: 20px;
	position: relative;
}
.gjp-game-area > div {
	max-width: 100% !important;
	overflow: hidden;
}

/* Mobile Layout */
@media (max-width: 768px) {
	.gjp-game-area {
		grid-template-columns: 1fr;
	}
}
